/* you can add to or change this. */
.startButton {
  height: 60px;
  width: 140px;
  border-radius: 20%;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  color:#d4af37;
}

form {
  height: 60px;
  width: 140px;
  border-radius: 20%;
  margin: 0 auto;
  display: grid;
  margin-top: 30px;
}

#game button {
  border: 1px solid black;
  width: 132px;
  height: 176px;
  margin: 20px;
  display: inline-block;
  border-radius: 10%;
  background-color:#FAF9F6
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
  height: fit-content;
  margin: auto;
}

.text {
  font-size: 100px;
  text-align: center;
  color:chartreuse;
}

@keyframes hinge{
  15%{
    transform: rotate(120deg);
  }
  30%{
    transform: rotate(60deg);
  }
  40%{
    transform: rotate(110deg);
  }
  50%{
    transform: rotate(70deg);
  }
  60%{
    transform: rotate(100deg);
  }
  70%{
    transform: rotate(80deg);
  }
  80%{
    transform: rotate(95deg);
  }
  90%{
    transform: rotate(85deg);
    transform: translateY(700px);
  }
  100%{
    animation: move 4s linear infinite;
    opacity: 0.8;
  }
}

